@import "global.scss";
@import "libs.scss";
@import "fonts.scss";
@import "vars.scss";



// gradient colored text

 .header {

   &__title{
     text-align: center;
     margin: 0;
     font-size: 257px;
     line-height: 120.5%;
     background: linear-gradient(100deg, #2569AC 0%, #4CBA85 56.89%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }
 }

//

  // sending data on e-mail

  .wrapper{
    background-color: #333;
    padding: 50px;
  }
  .form{

    max-width: 550px;
    color: #fff;
    margin: 0 auto;

    & *{
      outline: none;
    }

    &__body{

      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(4, 5, 5, 0.54) url("../images/loading2.gif") center / 50px no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: all ease-in-out .5s;
      }

    }

    .form__body._sending::after{
      opacity: 1;
      visibility: visible;
    }


    &__title{
      font-size: 40px;
      @extend %TT-medium;
    }

    &__item{
      margin: 0 0 20px 0;
    }

    &__label{
      font-size: 18px;
      margin-bottom: 10px;
      display: block;
    }

    &__input{
      height: 50px;
      width: 100%;
      padding: 20px;
      border-radius: 5px;
      font-size: 18px;

      &:focus{
        box-shadow: 0 0 15px #7a956b;
      }
    }

    &__input._email._error,
    &__input._error{
        box-shadow: 0 0 15px #ff6450;
    }

    textarea{
      min-height: 120px;
      resize: vertical;

      &:focus{
        box-shadow: 0 0 15px #7a956b;
      }

    }

    .options{

      padding-top: 10px;

      &__item{
        margin-bottom: 10px;
      }

      &__input{
        display: none;

        &:checked + .options__label::after{
          transform: scale(1);
        }
      }

      &__label{
        font-size: 16px;
        display: inline-flex;
        line-height: 140%;
        align-items: center;
        position: relative;
        cursor: pointer;

        &::before{
          content: "";
          align-self: flex-start;
          flex: 0 0 24px;
          height: 24px;
          background-color: #fff;
          border-radius: 50%;

        }

        &::after{
          position: absolute;
          content: "";
          top: 4px;
          left: 4px;
          background-color: #7a956b;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          transform: scale(0);
          transition: all ease .3s;

        }
        span{
          min-width: 250px;
          padding-left: 10px;
        }

      }
    }

    .select{
      height: 50px;
      width: 100%;
      border-radius: 5px;
      font-size: 18px;
      padding: 10px 10px 10px 20px;

      &:focus{
        box-shadow: 0 0 15px #7a956b;
      }
    }

    .file{

      &__item{
        position: relative;
      }

      &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        opacity: 0;
        cursor: pointer;

        &:focus{
          box-shadow: 0 0 15px #7a956b;
        }
      }

      &__btn{
        display: inline-flex;
        min-height: 40px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        background-color: rgba(128, 86, 21, 0.96);
        padding: 5px 20px;
        margin: 10px 0;
      }

      &__preview{
        display: block;
        max-width: 100px;
        padding-top: 10px;

        img{
          max-width: 100%;
        }
      }
    }

    .checkbox{

      &__input{
        display:none;

        &:checked + .checkbox__label::after{
          transform: scale(1);
        }
      }

      &__label{
        font-size: 16px;
        line-height: 140%;
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        a{
          color: #7a956b;
        }

        &::before{
          content: "";
          align-self: flex-start;
          flex: 0 0 24px;
          height: 24px;
          background-color: #fff;
          border-radius: 4px;
          margin-right: 10px;
        }

        &::after{
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          top: 4px;
          left: 4px;
          background-color: #7a956b;
          border-radius: 4px;
          transform: scale(0);
          transition: all ease .3s;
        }
      }

    }

    .checkbox._error .checkbox__label:before {
      box-shadow: 0 0 15px #ff6450;
    }

    &__btn{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      background-color: #7a956b;
      color: #fff;
      font-size: 18px;
      @extend %TT-medium;
      text-transform: uppercase;
      border-radius: 20px;
      box-shadow: 0 5px 0 rgba(11, 17, 17, 0.71);
      transition: background-color ease .6s;
      position: relative;
      top: 0;

      &:hover{
        background-color: #345829;
      }

      &:active{
        top: 3px;
        box-shadow: 0 2px 0 #040505;
      }


    }




}




