  %or-light{
    font-family:"OrchideaPro-Light", sans-serif;
    font-weight: 300;
  }


  %TT-regular{
    font-family:"TTNorms-Regular", sans-serif;
    font-weight: 400;
  }

  %TT-medium{
    font-family:"TTNorms-Medium", sans-serif;
    font-weight: 500;
  }

